* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("../images/arcade_background.gif");
  background-size: cover;
  background-position: center;
  color: rgb(219, 219, 219);
  padding: 20px;
}

.tetris_logo {
  font-family: "Nabla", cursive;
  text-shadow: 10px 10px rgba(106, 106, 106, 0.546);
  font-size: 90px;
  margin-bottom: 15px;
}

.tetris_logo:hover {
  animation-name: tetris_logo_pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.main_area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.left_aside {
  height: 510px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.controls_wrapper,
.instructions {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(58, 58, 58);
  background-color: rgba(173, 173, 173, 0.17);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#start,
#reset {
  height: 50px;
  width: 150px;
  border: 0;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(133, 133, 133, 0.367);
  font-family: "Cabin Sketch", cursive;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 2px rgba(37, 37, 37, 0.546);
  margin: 10px 0;
}

#start:active,
#reset:active {
  transform: translateY(2px);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.4);
}

#start:hover,
#reset:hover {
  cursor: pointer;
  animation-name: button_pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: background 1s;
  background-color: #bebebe6f;
}

.instructions > p {
  font-family: "Cabin Sketch", cursive;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 4px 4px 2px rgba(37, 37, 37, 0.546);
}

.controls {
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Cabin Sketch", cursive;
  font-size: 20px;
  text-shadow: 4px 4px 2px rgba(37, 37, 37, 0.546);
  padding-right: 10px;
}

.controls div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}

.controls div p {
  width: 65px;
}

#left {
  text-align: right;
}

#arrow_keys {
  height: 120px;
  padding: 0 5px;
}

.game_board {
  height: 640px;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
  background-color: rgba(131, 131, 131, 0.4);
  border: 1px solid rgb(88, 88, 88);
  border-radius: 10px;
  margin: 0 50px;
}

.main_grid {
  height: 620px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.main_grid div {
  height: 31px;
  width: 31px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.right_aside {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(58, 58, 58);
  background-color: rgba(173, 173, 173, 0.17);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}

.next_piece {
  margin-bottom: 20px;
}

.next_piece p {
  font-family: "Cabin Sketch", cursive;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.546);
  margin-bottom: 10px;
}

.next_grid {
  height: 132px;
  width: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(131, 131, 131, 0.3);
  border-radius: 5px;
}

.next_grid div {
  height: 33px;
  width: 33px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

#game_over {
  height: 100%;
  position: absolute;
  visibility: hidden;
  animation-name: game_over_pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#game_over:hover {
  cursor: pointer;
}

@keyframes tetris_logo_pulse {
  33% {
    text-shadow: 10px 10px rgba(106, 106, 106, 0.546);
  }
  66% {
    text-shadow: 7px 7px rgba(139, 139, 139, 0.546);
  }
  99% {
    text-shadow: 10px 10px rgba(106, 106, 106, 0.546);
  }
}

@keyframes button_pulse {
  33% {
    font-size: 30px;
  }
  66% {
    font-size: 28px;
  }
  99% {
    font-size: 30px;
  }
}

@keyframes game_over_pulse {
  33% {
    height: 100%;
  }
  66% {
    height: 97%;
  }
  99% {
    height: 100%;
  }
}
