.i_falling {
  background-color: #80bbbb;
}

.j_falling {
  background-color: #5050b9;
}

.l_falling {
  background-color: #c98a4b;
}

.s_falling {
  background-color: #78c778;
}

.z_falling {
  background-color: #cd5656;
}

.t_falling {
  background-color: #8d458d;
}

.o_falling {
  background-color: #d8d83c;
}

.i_dead {
  background-color: #80bbbb;
}

.j_dead {
  background-color: #5050b9;
}

.l_dead {
  background-color: #c98a4b;
}

.s_dead {
  background-color: #78c778;
}
.z_dead {
  background-color: #cd5656;
}
.t_dead {
  background-color: #8d458d;
}
.o_dead {
  background-color: #d8d83c;
}
